@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UnifontExMono';
  src: url('/UnifontExMono.woff2') format('woff2');
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  font-family: 'UnifontExMono', sans-serif;
}

/* Modal animation, can make it more fancy if needs to */
@keyframes modal-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* General UI */
.btn {
  @apply relative flex items-center justify-center rounded-lg border-4 px-4 py-2 font-bold uppercase tracking-wide text-primary-foreground transition-all;
}

.btn-donate {
  @apply btn;
}

.btn-grass {
  @apply border-border bg-primary;
}

.btn-wood {
  @apply bordered-text wood border border-[#4F4634];
}

.mobile-btn:hover {
  @apply scale-105;
}

.btn:hover {
  @apply opacity-90;
}

.btn-donate:hover {
  @apply scale-105 opacity-100;
}

/* click bounce */
.btn:active {
  @apply scale-[99%];
}

.modal {
  animation: modal-in 0.3s ease-out;
  @apply z-50 max-h-[80vh] max-w-[90vw] rounded-lg p-6 pt-2 text-white shadow-md lg:max-h-[80vh] lg:max-w-[60vw];
}

.modal-content {
  @apply overflow-y-auto;
}

/* Overwriting default dialog backdrop to allow transition  */
.backdrop {
  @apply invisible fixed inset-0 z-20 bg-black bg-opacity-50 opacity-0 transition-all duration-300 ease-out;
}

.backdrop.open {
  @apply visible opacity-100;
}

/* Disabling default dialog backdrop styles */
dialog::backdrop {
  @apply bg-transparent;
}

.separator {
  @apply m-2 h-[1px] bg-gray-300;
}

.bordered-text {
  @apply tracking-wider text-primary-foreground;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.front-label {
  @apply bordered-text text-2xl font-bold transition-all duration-[100ms] lg:text-3xl;
}

.front-button {
  @apply front-label cursor-pointer p-4;
}

.donate-label {
  @apply text-3xl min-[850px]:text-6xl;
}

.front-button:hover {
  @apply text-green-200;
}

.text-input {
  @apply w-full rounded-md border-2 border-gray-300 p-2;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply mb-2 mt-4 text-2xl font-bold underline underline-offset-4;
}

h3 {
  @apply text-xl font-bold;
}

ul {
  @apply list-inside list-disc;
}

a {
  @apply underline underline-offset-2;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#c7c2b5];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#a69f92];
}

/* For the mobile nav open arrow */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.open-arrow {
  animation: float 1.5s ease-in-out infinite;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  pointer-events: none;
}

input[type='text'] {
  @apply text-black;
}

.grass {
  background-image: url('/ui/grass.png');
  background-size: 500px 100%;
  background-repeat: repeat-x;
}

.volume-container {
  @apply relative flex items-center gap-2 transition-all;
}
.volume-icon {
  @apply cursor-pointer select-none text-2xl opacity-70;
}
.volume-slider {
  @apply invisible h-1 w-24 rounded bg-gray-300 accent-seconday opacity-0 transition-all;
}

.volume-container:hover .volume-slider {
  @apply visible flex opacity-100;
}

.volume-container:hover .volume-icon {
  @apply opacity-90;
}

.volume-container:active .volume-slider {
  @apply visible flex opacity-100;
}

.wood {
  background-image: url('/ui/wood.png');
  background-size: 150% 150%;
  background-repeat: no-repeat;
  background-position: center;
}

.donate-wood {
  background-color: #c7c2b5;
  border: 10px solid transparent;
  border-image: url('/ui/small-wood.png') 30% round;
}
